.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 1cap;
}
.logo > img {
  margin: 0px 10px;
  height: 60px;
  width: 85px;
}

.nav-item > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.body {
  margin: 20px;
}

.nav-item > ul > li {
  padding: 5px;
  margin: 0px 5px;
}
.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.search input {
  margin-right: 10px;
  width: 250px;
  height: 2em;
  border-radius: 1cap;
}

.filter button {
  margin-right: 20px;
}

.search-btn,
.rating-btn,
.distance-btn {
  background-color: rgb(231, 185, 100);
  border-radius: 1cap;
  height: 2.3em;
}

.search-btn:hover,
.rating-btn:hover,
.distance-btn:hover {
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  padding: 10px;
  margin: 5px;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
  height: 150px;
  border-radius: 7%;
}
.delivery {
  display: flex;
  justify-content: space-between;
}

.res-card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cuisines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 40px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-left: 40px;
}

.shimmer-card {
  width: 200px;
  margin: 10px;
  height: 350px;
  background-color: #f0f0f0;
  border-radius: 7%;
}
